*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
      background: #e9edf3;
      display: flex;
      justify-content: center;
      padding: 40px;
    }
.nav{
    display: flex;
    justify-content: flex-end;
    gap:25px;
    position: absolute;
    top:20px;
    right: 60px;
    height: 60px;
    width: 100%;


}
.nav a{
    text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: #4f46e5;
}
.nav a:hover {
      text-decoration: underline;
    }
  .container {
      width: 100%;
      max-width: 800px;
      height: 600px;
      background: #fff;
      border-radius: 20px;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }

    /* Left Section */
    .content {
      flex: 1;
    }
    .content h3 {
      color: #4f46e5;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .content h1 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .content h2 {
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 25px;
      color: #333;
    }
    .buttons {
      display: flex;
      gap: 15px;
    }
    .buttons a {
      padding: 12px 24px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      transition: 0.3s;
    }
     .about {
      background: #e83e8c;
      color: #fff;
    }
    .about:hover {
      opacity: 0.9;
    }
    .works {
      background: #4f46e5;
      color: #fff;
    }
    .works:hover {
      opacity: 0.9;
    }