.container
{
    display: flex;
    border: 1px solid red;
    height: 800px;
    width: 800px;
    background-color: aqua;
    margin: 50px;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.box1
{height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color: bisque;

}
.box2
{height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color: pink;

    
}
.box3
{height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color: grey;

    
}
.box4
{
    height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color:blueviolet;

}
/* .box5
{height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color: bisque;

}
.box6
{height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color: pink;

    
}
.box7
{height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color: grey;

    
}
.box8
{
    height: 150px;
    width: 150px;
    border: 1px dotted blue;
    background-color:blueviolet;

} */